<form [formGroup]="registerForm" (ngSubmit)="register()" class="form-container">
    <h1 class="form-title">Please Sign Up</h1>

    <div class="form-element">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>First Name:</mat-label>
            <input matInput formControlName="firstname" placeholder="Enter your first name">
            <mat-error >
                @if(registerForm.get('firstname')?.hasError('required')){
                First Name required
                }
            </mat-error>
        </mat-form-field>
    </div>

    <div class="form-element">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Last Name:</mat-label>
            <input matInput formControlName="lastname" placeholder="Enter your last name">
            <mat-error >
                @if(registerForm.get('lastname')?.hasError('required')){
                    Last Name required
                    }
                
            </mat-error>
        </mat-form-field>
    </div>

    <div class="form-element">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email:</mat-label>
            <input matInput formControlName="email" placeholder="Enter your email">
            <mat-error >
                @if(registerForm.get('email')?.hasError('required')){
                    Email required
                }
                @else if(registerForm.get('email')?.hasError('email')){
                    Invalid Email
                }
            </mat-error>
            
                
            
        </mat-form-field>
    </div>

    <div class="form-element">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password:</mat-label>
            <input matInput formControlName="password" placeholder="Enter your password">
            <mat-error>
                @if(registerForm.get('password')?.hasError('required')){
                    Password required
                    }
            </mat-error>
        </mat-form-field>
    </div>

    <button mat-raised-button color="primary" class="submit-button">Register</button>
</form>
